* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, select, textarea {
    font-family: "Poppins", sans-serif;
}

body {
    background: #BFD7E4;
}

body::before {
    content: '';
    width: 100%;
    height: 465px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #293241;
}

.page {
    width: 750px;
    margin: auto;
}

.topo {
    width: 391px;
    margin: 0 auto;
    text-align: center;
}

header {
    margin-top: 107px;
}

header h1 {
    font-family: "Staatliches", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: auto;
    color: white;

}

header p {
    color: white;
    margin-bottom: 15px;
}

header img {
    margin: 0 auto;
}

.titulo {
    background: #F67669;
    width: 100%;
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-top: 32px;
    padding: 50px 275px;
    border-radius: 20px 20px 0px 0px;
}

form {
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 300px;
    padding: 30px 64px;

    display: flex;
    flex-direction: column;
    gap: 36px;
}

.col-2 {
    display: flex;
    gap:22px
}

.col-2 > div:nth-child(1) {
    width: 100%;
}

.col-2 > div:nth-child(2) {
    width: 100%;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset legend {
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 8px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 9px;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper label span:hover {
    color: #6C6A71;
}

.input-wrapper input, 
.input-wrapper textarea,
.input-wrapper select {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 55.53px;
    margin-bottom: 16px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #6C6A71;
}

.input-wrapper textarea {
    padding: 5px 10px;
    height:166.59px;
}

.input-wrapper select {
    appearance: none;
    -webkt-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.col-3 {
    display: flex;
}

.col-3 > div:nth-child(1) {
    width: 300px;
}

.col-3 > div:nth-child(2) {
    width: 140px;
    margin: 0px 0px 0px 20px;
    
}

.col-3 > div:nth-child(3) {
    width: 140px;
    margin: 0px 0px 0px 5px;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%23BFD7E4'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left 6px top 50%;
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.button {
    margin-top: 64px;
    width: 100%;
    height: 51px;
    background: #FF5374;
    border-radius: 8px;
    border: 0;

    font-family: "Staatliches", sans-serif;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.button:hover {
    background: #d13f5b;
}